/*  sidebar  */
body{
  font-weight:100;
}


/*  記事  */
.jumbotron{
  background-image: url("/static/image/blog-image.jpg");
  background-size:cover;

}


.pc { display: block !important; }
.sp { display: none !important; }

@media only screen and (max-width: 750px) {
.pc { display: none !important; }
.sp { display: block !important; }
}

@media only screen and (max-width: 750px) {
img { max-width: 100%; }
}
