/*  sidebar  */
body{
  font-weight:100;
}


/*  footer   */
.footer{
  background-color: black;
}
.post{
  height: 200px;
}
.thumbnail{
  max-height: 200px;
  max-width: 200px;
}

.card-body img{
  display: inline;
  width: 100%;
}


.left img{
  display: inline;
  width: auto;
}
.post .right{
  display: inline;
}








/*  記事  */
.pc{
  background-image: url("/static/image/blog-image.jpg");
  background-size:cover;

}

.sp{
  background-image: url("/static/image/blog-image-sp.jpg");
  background-size:cover;

}


.pc { display: block !important; }
.sp { display: none !important; }

@media only screen and (max-width: 750px) {
.pc { display: none !important; }
.sp { display: block !important; }
}

@media only screen and (max-width: 750px) {
.sp { max-width: 100%; }
}
