{% extends 'blog/base.html' %}
{% load static %}
{% block content %}
   <h1><span style="font-weight:100;">All Posts</span></h1>
{% for post in post_list %}


<div class="post row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
  {% comment %}
  <div class="col-auto d-none d-lg-block">
    <img class="thumbnail mt-2 ml-2 pr-2 pb-2 img-fluid" src='{{ post.thumbnail.url }}' >
  </div>
  {% endcomment %}
  <div class="col p-2 d-flex flex-column position-static">
    <strong class="d-inline-block mb-2 text-dark">{{ post.category }}</strong>
    <h3 class="mb-0">{{ post.title }}</h3>
    <div class="mb-1 text-muted">{{ post.created_at }}</div>
    <p class="card-text mb-auto">{{post.subtitle}}</p>
    <a href="{% url 'blog:detail' post.pk %}" class="btn btn-secondary" >Read More</a>
  </div>
</div>


{% endfor %}
{% include 'blog/page.html' %}
{% endblock %}
