{% extends 'blog/base.html' %}
{% load static %}


{% block content %}
<div class="card　mb-3">
    <h2 class="card-header bg-dark text-white">{{ post.title }}</h2>
<div class="card-body">
  <p>{{ post.created_at }},{{ post.category }}</p>
  {% comment %}
 {{ post.text |safe|linebreaksbr| urlize }}
 {% endcomment %}
 {% if post.text %}
 {{ post.text_to_markdown | safe }}
 {% endif %}
</div>
<a  class="btn btn-dark mb-5" href="{% url 'blog:index' %}">Back to Home</a>
</div>

{% with prev=post.get_previous_by_pk %}
  {% if prev %}
    <a href="{% url 'blog:detail' prev.pk %}">前の記事</a>
  {% endif %}
{% endwith %}


{% with next=post.get_next_by_pk %}
  {% if next %}
    <a href="{% url 'blog:detail' next.pk %}">次の記事</a>
  {% endif %}
{% endwith %}

{% endblock %}
